@import "../../styles/mixins";
.service_card {
  position: relative;
  background: rgba(255, 255, 255, 0.13);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.1px);
  -webkit-backdrop-filter: blur(4.1px);
  border: 1px solid rgba(255, 255, 255, 0.137);
  border-width: 2px;
  max-width: 336px;
  padding: 37px 35px;
  webkit-clip-path: polygon(0 0, 0 100%, 100% 100%, 100% 25%, 75% 0);
  clip-path: polygon(0 0, 0 100%, 100% 25%, 75% 100%, 100%);
  @include media(706px) {
    margin-left: 10px;
  }
  @include media(580px) {
    margin-left: 0px;
    max-width: 450px;
  }
  h2 {
    color: #fff;
  }
  button {
    font-weight: bold;
    padding: 15px 70px;
    color: var(--text-title, #2e2e2e);
    font-weight: bold;
    @include media(706px) {
      padding: 15px 40px;
    }
  }
  clip-path: polygon(0% 0%, 180% 0%, 0% 180%);
  border-bottom-right-radius: 50px;
}
